.idea/.name
.idea/Doooooominus.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
compiled/*
*.out
parsetab.py
Rapport Doooooominus Romain_Claret Nils_Ryter.pdf
rapport.tex
.texpadtmp/rapport.aux
.texpadtmp/rapport.log
.texpadtmp/rapport.synctex.gz
